{% extends "core/base.html" %}
{% block title %}Services{% endblock title %}
{% block content %}
<div class='container mt-5' >
    <h1 class="text-warning mb-5 border-bottom">SERVICES</h1>
    
    <div class="row text-center text-white mt-5">
        <div class="col-sm-4">
            <i class="fa-solid fa-magnifying-glass-dollar fa-2x mb-3 i-color"></i>
            <h3>SEO</h3>
            <p class="ss-clolor">Boost your website's visibility on search engines with tailored SEO strategies that drive organic traffic and enhance online presence.
            </p>
        </div>
        <div class="col-sm-4">
            <i class="fa-solid fa-palette fa-2x mb-3 i-color"></i>
            <h3>Web Desin</h3>
            <p class="ss-clolor">Creative web design services that blend aesthetics with functionality, ensuring an immersive and user-friendly experience.
            </p>
        </div>
        <div class="col-sm-4">
            <i class="fa-solid fa-code fa-2x mb-3 i-color"></i>
            <h3>Web Development</h3>
            <p class="ss-clolor">End-to-end web development solutions, including design, development, and deployment for high-performance, visually appealing websites.
            </p>
        </div>
    </div>

    <div class="row text-center text-white mt-5">
        <div class="col-sm-4">
            <i class="fa-brands fa-android fa-2x mb-3 i-color"></i>
            <h3>android</h3>
            <p class="ss-clolor">Custom Android apps tailored to your business needs, from intuitive interfaces to seamless functionality, helping you reach users on the go.
            </p>
        </div>
        <div class="col-sm-4">
            <i class="fa-brands fa-apple fa-2x mb-3 i-color"></i>
            <h3>IOS</h3>
            <p class="ss-clolor">Develop powerful iOS applications that offer excellent performance, security, and user experience for iPhone and iPad users.
            </p>
        </div>
        <div class="col-sm-4">
            <i class="fa-solid fa-ad fa-2x mb-3 i-color"></i>
            <h3>Advertising</h3>
            <p class="ss-clolor">Effective advertising solutions to maximize brand awareness and drive customer engagement through targeted campaigns.
            </p>
        </div>
    </div>

    <div class="row text-center text-white mt-5">
        <div class="col-sm-4">
            <i class="fa-solid fa-pencil-alt fa-2x mb-3 i-color"></i>
            <h3>Logo desiner</h3>
            <p class="ss-clolor">Unique and memorable logo design services to establish a professional brand identity that resonates with your audience.
            </p>
        </div>
        <div class="col-sm-4">
            <i class="fa-solid fa-database fa-2x mb-3 i-color"></i>
            <h3>Hosting</h3>
            <p class="ss-clolor">Reliable hosting solutions to ensure your website is fast, secure, and always accessible to your customers.
            </p>
        </div>
        <div class="col-sm-4">
            <i class="fa-solid fa-headset fa-2x mb-3 i-color"></i>
            <h3>Support</h3>
            <p class="ss-clolor">Dedicated support to help you manage, troubleshoot, and update your digital assets whenever needed.
            </p>
        </div>
    </div>

</div>
{% endblock content %}
